<div class="d-flex justify-content-center gap-5 mt-5">
    <div class="statistic-card user-statistic-card-color">
        <label class="fs-4">User</label>
    </div>
    <div class="statistic-card user-statistic-card-color">
        <label class="fs-4">Free user</label>
    </div>
    <div class="statistic-card asset-statistic-card-color">
        <label class="fs-4">Asset</label>
    </div>
    <div class="statistic-card asset-statistic-card-color">
        <label class="fs-4">Free Asset</label>
    </div>
</div>
<div echarts [options]="chartOption" class="demo-chart"></div>