.statistic-card {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px #8b7979;
    width: 200px;
    height: 200px;
}

.user-statistic-card-color {
    background-image: linear-gradient(to bottom, #ffffff00 0%, #ffffff00 50%, #1abb14 150%);
}

.asset-statistic-card-color {
    background-image: linear-gradient(to bottom, #ffffff00 0%, #ffffff00 50%, #145cbb 150%);
}