.statistic-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px #8b7979;
    min-width: 200px;
    height: 200px;
}

.historic-card {
    width: max-content;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px #8b7979;
}

.pie-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner-size {
    width: 60px;
    height: 60px;
}

.user-statistic-card-color {
    background-image: linear-gradient(to bottom, #ffffff00 0%, #ffffff00 50%, #1abb14 200%);
}

.asset-statistic-card-color {
    background-image: linear-gradient(to bottom, #ffffff00 0%, #ffffff00 50%, #145cbb 200%);
}

.free-asset-statistic-card-color {
    background-image: linear-gradient(to bottom, #ffffff00 0%, #ffffff00 50%, #a08613 200%);
}

.asset-management-statistic-card-color {
    background-image: linear-gradient(to bottom, #ffffff00 0%, #ffffff00 50%, #791468 200%);
}

.number-statistic-card-color {
    font-size: 5rem;
}