<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Asset Management Project</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item pb-1 px-1">
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        </li>
        <li class="nav-item pb-1 px-1" *ngIf="isLoggedIn">
          <a class="nav-link" routerLink="/user" routerLinkActive="active">User</a>
        </li>
        <li class="nav-item pb-1 px-1" *ngIf="isLoggedIn">
          <a class="nav-link" routerLink="/asset" routerLinkActive="active">Asset</a>
        </li>
        <li class="nav-item pb-1 px-1" *ngIf="isLoggedIn">
          <a class="nav-link" routerLink="/asset-management" routerLinkActive="active">Asset management</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ username ? username : "Account" }}
          </a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><a class="dropdown-item" (click)="showLoginModal = true" *ngIf="!isLoggedIn">Login</a></li>
            <li><a class="dropdown-item" (click)="showRegisterModal = true" *ngIf="!isLoggedIn">Register</a></li>
            <li><a class="dropdown-item" (click)="logout()" *ngIf="isLoggedIn">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Login modal -->
<generic-modal [showInput]="showLoginModal" (closePopupEvent)="hideLoginModal()">
  <app-login (closeModal)="hideLoginModal()" (setConnected)="setConnected($event)"></app-login>
</generic-modal>

<!-- Register  Modal -->
<generic-modal [showInput]="showRegisterModal" (closePopupEvent)="hideRegisterModal()">
  <app-register (closeModal)="hideRegisterModal()" (setConnected)="setConnected($event)"></app-register>
</generic-modal>

<button class="btn btn-primary m-3" (click)="toastService.showToast('Title test', 'This is a body test', 'danger');"> create a toast </button>

<div class="m-2">
  <router-outlet></router-outlet>
</div>

<generic-toast></generic-toast>